
:root {
    --primary-color: #f0f0f0ee;
    --var_text_color_primary: black;

    --var_text_color_error: rgb(213, 66, 66);
    --var_text_color_succes: rgb(5, 211, 60);

    --var_svg_color_delete: rgb(255, 136, 136);
    --var_svg_color_edit: rgb(140, 180, 255);
    --var_svg_color_inspect: rgb(150, 252, 150);

}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  
}
footer {
    margin-top: auto;
}
.screen_height {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.index_image{
    background-image: url('/images/background2.jpg') ; 
    background-position: top center;
    background-repeat: no-repeat;
}
.screen_content {
    flex: 1; 
}




.remain_center {
    display: flex;
    justify-content: center;
}

.footer_svg{
    height: 32px;
    width: 32px;
}

.no_ancor_decoration{
color: var(--var_text_color_primary);
text-decoration: none !important;
}
.no_ancor_decoration:hover{
color: var(--var_text_color_primary);
text-decoration: none !important;
}

.primary_background_color {
    background-color: var(--primary-color);
} 
.default_margin{
    margin-top: 5px;
    margin-bottom: 5px;

}
.default_padding {
    padding: 6px;
}
.default_pading_left_right{
    padding-left: 6px;
    padding-right: 6px;
}
.default_radius{
    border-radius: 5px;
}
.radius_bottom_5_px {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.black_border{
    border: 1px solid black;
}
.index_items{
    background-color: rgba(36, 36, 36, 0.925);
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease; 
}
.index_items:hover{
    background-color: rgba(22, 22, 22, 0.925);
    color: white;
}
.index_items:hover img {
    opacity: 0.8; 
}
.index_center_item {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 100%;
    font-size: 125%;
}

.no_padding{
    padding: 0px !important;
}

.image_width{
    width: 100%;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
.no_margin_sides{
    margin-left: 0px;
    margin-right: 0px;
}


.search_bar{
    z-index: 12;
}
.under_shadow{
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.25);
}
.under_shadow_top{
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25);
}